[submodule "Plugins/ConfigManager"]
	path = Plugins/ConfigManager
	url = https://github.com/Subble/ConfigManager.git
[submodule "Plugins/BasicLogger"]
	path = Plugins/BasicLogger
	url = https://github.com/Subble/BasicLogger.git
[submodule "Plugins/SocketCommunication"]
	path = Plugins/SocketCommunication
	url = https://github.com/Subble/SocketCommunication.git
[submodule "Plugins/AccessManager"]
	path = Plugins/AccessManager
	url = https://github.com/Subble/AccessManager.git
[submodule "Plugins/DirectoryAccess"]
	path = Plugins/DirectoryAccess
	url = https://github.com/Subble/DirectoryAccess.git
[submodule "Plugins/BasicMusicPlayer"]
	path = Plugins/BasicMusicPlayer
	url = https://github.com/Subble/BasicMusicPlayer.git
